node-red/flows.json
[{"id":"0f907c1fa4360954","type":"tab","label":"Living room scenes","disabled":true,"info":"","env":[]},{"id":"f1a63daced9b0e28","type":"tab","label":"Office lights","disabled":false,"info":"","env":[]},{"id":"6a01c0be84cb5e6a","type":"tab","label":"Office alerts","disabled":true,"info":"","env":[]},{"id":"223711baee6a5bd5","type":"tab","label":"Kitchen","disabled":false,"info":"","env":[]},{"id":"6be6d82a89579776","type":"tab","label":"Main bathroom","disabled":false,"info":"","env":[]},{"id":"4e27fe81648636ae","type":"tab","label":"Entrance","disabled":false,"info":"","env":[]},{"id":"5fd32f944fed3047","type":"tab","label":"Main bedroom","disabled":false,"info":"","env":[]},{"id":"df059160.60379","type":"server","name":"Home Assistant","addon":true},{"id":"b8d540d7cf5f7d03","type":"trigger-state","z":"0f907c1fa4360954","d":true,"name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_living_room_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"group.someone","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"targetType":"entity_id","targetValue":"input_boolean.vacation_mode","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"entity_id","targetValue":"group.living_room","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"entity_id","targetValue":"input_boolean.living_room_automatic_lights","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":270,"y":100,"wires":[["32e662734892ae30","dbd9795cf9f26f16"],[]]},{"id":"11d7a4e88d51a3fa","type":"api-call-service","z":"0f907c1fa4360954","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.living_room_night_lights_scene"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":80,"wires":[[]]},{"id":"32e662734892ae30","type":"time-range-switch","z":"0f907c1fa4360954","d":true,"name":"","lat":"52.3507849","lon":"5.2647016","startTime":"19:30","endTime":"00:00","startOffset":0,"endOffset":0,"x":650,"y":100,"wires":[["11d7a4e88d51a3fa"],[]]},{"id":"1020e440172e587e","type":"api-call-service","z":"0f907c1fa4360954","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.living_room_lights_off_scene"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":300,"wires":[[]]},{"id":"a2d140450f60194e","type":"delay","z":"0f907c1fa4360954","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"40","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":940,"y":300,"wires":[["1020e440172e587e"]]},{"id":"581b85c3cac8c8a7","type":"bigtimer","z":"0f907c1fa4360954","d":true,"outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"1425","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":820,"wires":[["ea49e55049b891f6"],[],[]]},{"id":"5f40451c23394e72","type":"api-call-service","z":"0f907c1fa4360954","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.living_room_lights_off_scene"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":820,"wires":[["ecfe41c5ea2fda0b"]]},{"id":"ecfe41c5ea2fda0b","type":"debug","z":"0f907c1fa4360954","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":820,"wires":[]},{"id":"ea49e55049b891f6","type":"delay","z":"0f907c1fa4360954","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":310,"y":820,"wires":[["5f40451c23394e72"]]},{"id":"ab0b08455ab5e046","type":"api-current-state","z":"0f907c1fa4360954","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_living_room_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":300,"wires":[["a2d140450f60194e"],[]]},{"id":"ccfd0d872c7e7391","type":"bigtimer","z":"0f907c1fa4360954","d":true,"outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":300,"wires":[[],["ab0b08455ab5e046"],[]]},{"id":"dbd9795cf9f26f16","type":"api-current-state","z":"0f907c1fa4360954","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":180,"wires":[["11d7a4e88d51a3fa"],[]]},{"id":"5b416b591ea21445","type":"delay","z":"f1a63daced9b0e28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"40","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":940,"y":720,"wires":[["6c11431a0c0704ee"]]},{"id":"da7d6e78db54f4fb","type":"api-current-state","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.office1presence_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"20","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":720,"wires":[["5b416b591ea21445"],[]]},{"id":"fa4e413cdd569efb","type":"bigtimer","z":"f1a63daced9b0e28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":720,"wires":[[],["da7d6e78db54f4fb"],[]]},{"id":"7cbf620efc195232","type":"debug","z":"f1a63daced9b0e28","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":800,"wires":[]},{"id":"758bed37a375d660","type":"api-call-service","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.office_default_light_scene"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":720,"wires":[[]]},{"id":"6c11431a0c0704ee","type":"api-call-service","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.office_lights_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":1080,"wires":[[]]},{"id":"44a1e5e471d23d12","type":"inject","z":"f1a63daced9b0e28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":600,"wires":[["758bed37a375d660"]]},{"id":"5622cfc3b3e2935f","type":"inject","z":"f1a63daced9b0e28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1200,"y":980,"wires":[["6c11431a0c0704ee"]]},{"id":"150e38c8f3786a4d","type":"debug","z":"f1a63daced9b0e28","d":true,"name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":900,"wires":[]},{"id":"8fdc56892d91f121","type":"api-current-state","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":980,"wires":[["758bed37a375d660"],["6c11431a0c0704ee"]]},{"id":"7b2af107a9fcdb45","type":"server-state-changed","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.button3_action","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":330,"y":980,"wires":[["8fdc56892d91f121"]]},{"id":"cc9123b9754ed6c4","type":"trigger-state","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.office1presence_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":300,"y":420,"wires":[["4737a916676c2272"],[]]},{"id":"4737a916676c2272","type":"api-current-state","z":"f1a63daced9b0e28","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.office1presence_illuminance","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":420,"wires":[["758bed37a375d660"],[]]},{"id":"eef939d438728614","type":"trigger-state","z":"6a01c0be84cb5e6a","name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_office_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"group.someone","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"targetType":"entity_id","targetValue":"input_boolean.vacation_mode","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":260,"y":120,"wires":[["1ed819e8b802dbec"],[]]},{"id":"1ed819e8b802dbec","type":"time-range-switch","z":"6a01c0be84cb5e6a","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"09:00","endTime":"14:00","startOffset":0,"endOffset":0,"x":630,"y":120,"wires":[["6b79fdbbe3597b6f"],[]]},{"id":"198bba7f6077f5ca","type":"api-call-service","z":"6a01c0be84cb5e6a","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"tts","service":"google_say","areaId":[],"deviceId":[],"entityId":["media_player.office_google_mini"],"data":"{ \"message\": \"Don't forget hulu to take your vitamins hulu hulu\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":120,"wires":[[]]},{"id":"6b79fdbbe3597b6f","type":"delay","z":"6a01c0be84cb5e6a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":850,"y":120,"wires":[["198bba7f6077f5ca"]]},{"id":"fa7803d62d566574","type":"sun events","z":"6a01c0be84cb5e6a","testmode":true,"verbose":"N","topic":"","name":"","x":230,"y":440,"wires":[["45f046a018d20307","d51adce7834a8b33"]]},{"id":"45f046a018d20307","type":"debug","z":"6a01c0be84cb5e6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":440,"wires":[]},{"id":"d51adce7834a8b33","type":"api-call-service","z":"6a01c0be84cb5e6a","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"tts","service":"google_say","areaId":[],"deviceId":[],"entityId":["media_player.office_google_mini"],"data":"{ \"message\": \"sun\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":480,"wires":[[]]},{"id":"c894bebfb9f6f4dd","type":"trigger-state","z":"223711baee6a5bd5","d":true,"name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_kitchen_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"group.kitchen","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":280,"y":160,"wires":[["d7099746ebc20b02","c2fd7069da1cad11","375c9a2094e2c429"],["c2fd7069da1cad11"]]},{"id":"8ccafcd3bbcca574","type":"api-call-service","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_dim"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":220,"wires":[[]]},{"id":"d7099746ebc20b02","type":"time-range-switch","z":"223711baee6a5bd5","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"22:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":640,"y":160,"wires":[["8ccafcd3bbcca574"],[]]},{"id":"dc4649ad4bf3099c","type":"api-call-service","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_lights_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":540,"wires":[[]]},{"id":"f1df05ca469796f5","type":"delay","z":"223711baee6a5bd5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":720,"y":540,"wires":[["dc4649ad4bf3099c"]]},{"id":"f8a76cd13d420078","type":"bigtimer","z":"223711baee6a5bd5","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"1425","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":880,"wires":[["684811a72f41e19d"],[],[]]},{"id":"d7a7c162c091aa58","type":"api-call-service","z":"223711baee6a5bd5","d":true,"name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_lights_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":880,"wires":[["66701f2d75adee3a"]]},{"id":"66701f2d75adee3a","type":"debug","z":"223711baee6a5bd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":880,"wires":[]},{"id":"684811a72f41e19d","type":"delay","z":"223711baee6a5bd5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":330,"y":880,"wires":[["d7a7c162c091aa58"]]},{"id":"c2fd7069da1cad11","type":"debug","z":"223711baee6a5bd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"375c9a2094e2c429","type":"time-range-switch","z":"223711baee6a5bd5","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"07:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":640,"y":80,"wires":[["16281ee4dd84b4f9"],[]]},{"id":"16281ee4dd84b4f9","type":"api-call-service","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_bright"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":80,"wires":[[]]},{"id":"699e7bd0d529cf65","type":"api-current-state","z":"223711baee6a5bd5","d":true,"name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_kitchen_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"20","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":440,"wires":[["f1df05ca469796f5"],[]]},{"id":"5e8439f718c9eb1d","type":"bigtimer","z":"223711baee6a5bd5","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":340,"wires":[[],["699e7bd0d529cf65"],[]]},{"id":"d91fedf227f0b357","type":"server-state-changed","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ikeaonoffswitch1_action","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":280,"y":680,"wires":[["5f3e224959325e49","548e8e3d53a14925"]]},{"id":"5f3e224959325e49","type":"debug","z":"223711baee6a5bd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"548e8e3d53a14925","type":"switch","z":"223711baee6a5bd5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":760,"wires":[["d005b38298c44671"],["203899a334bcef3e"]]},{"id":"203899a334bcef3e","type":"api-call-service","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_lights_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":800,"wires":[[]]},{"id":"d005b38298c44671","type":"api-call-service","z":"223711baee6a5bd5","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_dim"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":740,"wires":[[]]},{"id":"26bdfba65282f302","type":"debug","z":"6be6d82a89579776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":80,"wires":[]},{"id":"b67e1c1bfc538937","type":"api-call-service","z":"6be6d82a89579776","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.main_bathroom_light_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":160,"wires":[[]]},{"id":"313be9f973056474","type":"api-call-service","z":"6be6d82a89579776","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.main_bathroom_light_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":560,"wires":[[]]},{"id":"36059a72aaeb4e60","type":"debug","z":"6be6d82a89579776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":520,"wires":[]},{"id":"a8f54e8772b574c5","type":"delay","z":"6be6d82a89579776","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1020,"y":600,"wires":[["313be9f973056474"]]},{"id":"9b30bdd8e99a59ac","type":"inject","z":"6be6d82a89579776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":160,"wires":[["b286fed7331ba702"]]},{"id":"5409997cc925182a","type":"inject","z":"6be6d82a89579776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":640,"wires":[["a8f54e8772b574c5"]]},{"id":"a79fabd722b624c0","type":"inject","z":"6be6d82a89579776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":700,"wires":[["313be9f973056474"]]},{"id":"0ed18a11455647fb","type":"inject","z":"6be6d82a89579776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":280,"wires":[["b67e1c1bfc538937"]]},{"id":"b286fed7331ba702","type":"time-range-switch","z":"6be6d82a89579776","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"17:30","endTime":"05:00","startOffset":0,"endOffset":0,"x":710,"y":100,"wires":[["b67e1c1bfc538937","26bdfba65282f302"],[]]},{"id":"cf75d17580cb4c48","type":"trigger-state","z":"6be6d82a89579776","name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bathroompresence_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":270,"y":80,"wires":[["b286fed7331ba702"],[]]},{"id":"d5e9fc632ed141ed","type":"api-current-state","z":"6be6d82a89579776","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.bathroompresence_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":480,"wires":[["36059a72aaeb4e60","a8f54e8772b574c5"],[]]},{"id":"fe5cc92c4a67f273","type":"bigtimer","z":"6be6d82a89579776","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":480,"wires":[[],["d5e9fc632ed141ed"],[]]},{"id":"af190b21118c31f2","type":"debug","z":"4e27fe81648636ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1910,"y":60,"wires":[]},{"id":"62bc187476035d4a","type":"api-call-service","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.entrance_light_soft"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1920,"y":140,"wires":[[]]},{"id":"2b7a449f2b947765","type":"api-call-service","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.entrance_light_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":900,"wires":[[]]},{"id":"6d55a99ab2671147","type":"debug","z":"4e27fe81648636ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":860,"wires":[]},{"id":"7cb16bc5eb05aa7f","type":"delay","z":"4e27fe81648636ae","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1200,"y":940,"wires":[["2b7a449f2b947765"]]},{"id":"e63e61bf4997e0ec","type":"inject","z":"4e27fe81648636ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1400,"y":100,"wires":[["bede494c346071ad","045e4822c3e13750"]]},{"id":"751e3f6e79268162","type":"inject","z":"4e27fe81648636ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":920,"y":1040,"wires":[["7cb16bc5eb05aa7f"]]},{"id":"b0377ce2043af9f9","type":"inject","z":"4e27fe81648636ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1260,"y":1040,"wires":[["2b7a449f2b947765"]]},{"id":"dbd556c8bbd4e106","type":"inject","z":"4e27fe81648636ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":60,"wires":[["62bc187476035d4a"]]},{"id":"bede494c346071ad","type":"time-range-switch","z":"4e27fe81648636ae","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"16:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":1590,"y":200,"wires":[["62bc187476035d4a","af190b21118c31f2"],[]]},{"id":"ca214cf16cc3129e","type":"trigger-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.corridorpresence_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":730,"y":400,"wires":[["55821d662e27021f"],[]]},{"id":"fd98b918146cd654","type":"api-current-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.corridorpresence_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":920,"wires":[["6d55a99ab2671147","7cb16bc5eb05aa7f"],[]]},{"id":"e7663f15de631c22","type":"bigtimer","z":"4e27fe81648636ae","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":420,"y":920,"wires":[[],["fd98b918146cd654"],[]]},{"id":"045e4822c3e13750","type":"time-range-switch","z":"4e27fe81648636ae","name":"","lat":"52.3507849","lon":"5.2647016","startTime":"22:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":1590,"y":280,"wires":[["cf2292fb9955b959"],[]]},{"id":"cf2292fb9955b959","type":"api-call-service","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.entrance_light_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1940,"y":280,"wires":[[]]},{"id":"1748b8b8bf167459","type":"inject","z":"4e27fe81648636ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1660,"y":400,"wires":[["cf2292fb9955b959"]]},{"id":"06fc21bad63a6435","type":"debug","z":"4e27fe81648636ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":620,"wires":[]},{"id":"3149173c9e9a0f36","type":"api-call-service","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.entrance_light_bright"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":540,"wires":[[]]},{"id":"50ee26e52a3aa3a3","type":"debug","z":"4e27fe81648636ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":780,"wires":[]},{"id":"889df76a3c0b4c83","type":"api-call-service","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.entrance_light_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":720,"wires":[[]]},{"id":"bc6a466095eb8f8e","type":"server-state-changed","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.button2_action","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":660,"wires":[["c39eaf9bef8e27cd"]]},{"id":"c39eaf9bef8e27cd","type":"api-current-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.entrance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":660,"wires":[["3149173c9e9a0f36","06fc21bad63a6435"],["889df76a3c0b4c83","50ee26e52a3aa3a3"]]},{"id":"55821d662e27021f","type":"api-current-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.corridorpresence_illuminance","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1250,"y":400,"wires":[["bede494c346071ad","045e4822c3e13750"],[]]},{"id":"d420749b1e8abd50","type":"trigger-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.corridor2presence_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":670,"y":180,"wires":[["5515f9fbc3897df4"],[]]},{"id":"5515f9fbc3897df4","type":"api-current-state","z":"4e27fe81648636ae","name":"","server":"df059160.60379","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.corridor2presence_illuminance","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":180,"wires":[["bede494c346071ad"],[]]},{"id":"a03df387cb7d0c01","type":"api-call-service","z":"5fd32f944fed3047","name":"","server":"df059160.60379","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.master_bedroom_romantic"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":380,"wires":[[]]},{"id":"061fbf4246d7e74e","type":"server-state-changed","z":"5fd32f944fed3047","name":"","server":"df059160.60379","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.button1_action","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":410,"y":380,"wires":[["a03df387cb7d0c01"]]}]